@model IndexViewModel
@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "This Blog has everything!";
    ViewBag.Keywords = "blog programming travel photography";
}

<div class="main-img">
    <span class="title">Amazing Blog Site</span>
</div>

<div class="container-post">
    @foreach (var post in Model.Posts)
    {
        var imagePath = $"/Image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@imagePath" asp-append-version="IsLayoutBeingRendered" />
            <span class="title">@post.Title</span>
        </a>
    }

    <partial name="_BlogPagination" model="Model"/>
</div>