@model PostViewModel

@{

}
<link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" />
<div>
    <form asp-action="Edit" asp-controller="Panel" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div>
            <label>Title</label>
            <input asp-for="Title" />
        </div>
        <div>
            <label>Body</label>
            <textarea id="editor" asp-for="Body"></textarea>
        </div>
        <div>
            <label>Image</label>
            <input asp-for="CurrentImage" type="hidden" />
            <input asp-for="Image" />
        </div>
        <input type="submit" name="" value="submit" />
    </form>
</div>

@section scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script>
        $('#editor').trumbowyg();
    </script>
}