<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />

    @await RenderSectionAsync("style", false)
    <environment include="Production">
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true"  />
    </environment>  
    <environment include="Development">
        <link href="~/css/site.css"  rel="stylesheet" asp-append-version="true"  />
    </environment>

    <title>@ViewBag.Title</title>

</head>
<body>
    <div>
        <nav>
            <a asp-controller="Home" asp-action="Index">  Home  </a>

            <a asp-controller="Home" asp-action="Index" asp-route-category="Programming"> Programming </a>

            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("admin"))
                {
                    
            <a asp-controller="Home" asp-action="Index" asp-route-category="Panel">  Admin Panel  </a>
                }
                <a asp-controller="Auth" asp-action="Logout">  LogOut  </a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login">  LogIn  </a>
            }
        </nav>
    </div>
<div>
    @RenderBody()
</div>
@await RenderSectionAsync("scripts",false)
</body>
</html>
